<!doctype html>
<html class="no-js" lang="zxx">


<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>
        <%= pageName %> | <%= title %>
    </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico in the root directory -->
    <link href="/assets/images/favicon.png" type="img/x-icon" rel="shortcut icon">
    <!-- All css files are included here. -->
    <link rel="stylesheet" href="/assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/vendor/iconfont.min.css">
    <link rel="stylesheet" href="/assets/css/vendor/helper.css">
    <link rel="stylesheet" href="/assets/css/plugins/plugins.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <!-- Modernizr JS -->
    <script src="/assets/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>

    <div id="main-wrapper">

        <!--Header section start-->
        <%- include('header.ejs', {category}) %>
            <!--Header section end-->


            <!-- Page Banner Section Start -->
            <%- include('breadcrumb') %>
                <!-- Page Banner Section End -->


                <!--About Us Area Start-->
                <div
                    class="about-us-area section pt-90 pt-lg-70 pt-md-60 pt-sm-50 pt-xs-45 pb-70 pb-lg-50 pb-md-60 pb-sm-60 pb-xs-50">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-6 col-12">
                                <!--About Us Image Start-->
                                <div class="about-us-img-wrapper mb-30 mb-xs-15">
                                    <div class="about-us-image img-full">
                                        <a href="#"><img src="/assets/images/about/about.jpg" alt=""></a>
                                    </div>
                                </div>
                                <!--About Us Image End-->
                            </div>
                            <div class="col-lg-6 col-12">
                                <!--About Us Content Start-->
                                <div class="about-us-content pl-30 pl-md-0 pl-sm-0 pl-xs-0">
                                    <span>Desde 2019</span>
                                    <h2>Fornecer soluções inovadoras e personalizáveis</h2>
                                    <p> Mariofelicianocontentore é um grupo industrial especializado na implementação de
                                        soluções de
                                        soluções de armazenagem frigorífica, edifícios
                                        construções e transformação de contentores marítimos personalizados.
                                        Atualmente, a Mariofelicianocontentore está organizada em torno das competências
                                        das suas
                                        empresas para oferecer aos seus clientes uma gama completa de serviços
                                        com base em equipas especializadas,
                                        gabinetes de projeto dedicados e instalações de produção que lhe permitem
                                        responder às expectativas dos
                                        dos seus mercados.
                                    </p>

                                    <p>
                                        Desde 2019 a Mariofelicianocontentore, empresa industrial, oferece um conjunto
                                        de soluções inovadoras e personalizáveis ​​para ir ao encontro das necessidades
                                        de profissionais e particulares.

                                        A nossa principal missão é acompanhá-lo ao longo de todo o seu projecto e
                                        partilhar consigo o know-how e perícia da nossa equipa. A nossa rede de
                                        subempreiteiros especializados também nos permite recorrer a competências
                                        complementares para lhe oferecer as melhores soluções.
                                    </p>
                                </div>
                                <!--About Us Content End-->
                            </div>
                        </div>
                    </div>
                </div>
                <!--About Us Area End-->




                <!--Features section start-->
                <div class="features-section section bg-gray-two pt-30  pt-xs-30 pb-15  pb-xs-30">
                    <div class="container">
                        <div class="row">

                            <div class="col-lg-4 col-md-6">
                                <!-- Single Feature Start -->
                                <div class="single-feature mb-30">
                                    <div class="feature-image">
                                        <img src="/assets/images/icons/feature-1.png" class="img-fluid" alt="">
                                    </div>
                                    <div class="feature-content">
                                        <h4 class="title">Entrega gratuita ao domicílio</h4>
                                        <p class="short-desc">Fornecer entrega gratuita ao domicílio para todos os
                                            produtos
                                            de valor superior a &euro; 5000

                                        </p>
                                    </div>
                                </div>
                                <!-- Single Feature End -->
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <!-- Single Feature Start -->
                                <div class="single-feature mb-30">
                                    <div class="feature-image">
                                        <img src="/assets/images/icons/feature-2.png" class="img-fluid" alt="">
                                    </div>
                                    <div class="feature-content">
                                        <h4 class="title">Produtos de qualidade</h4>
                                        <p class="short-desc">Garantimos a qualidade do produto, que é o nosso
                                            principal
                                            objetivo</p>
                                    </div>
                                </div>
                                <!-- Single Feature End -->
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <!-- Single Feature Start -->
                                <div class="single-feature mb-30">
                                    <div class="feature-image">
                                        <img src="/assets/images/icons/feature-3.png" class="img-fluid" alt="">
                                    </div>
                                    <div class="feature-content">
                                        <h4 class="title">3 dias de regresso</h4>
                                        <p class="short-desc">Não satisfeito. Não se preocupe, devolva o
                                            artigo no prazo de 3 dias.
                                        </p>
                                    </div>
                                </div>
                                <!-- Single Feature End -->
                            </div>

                        </div>
                    </div>
                </div>
                <!--Features section end-->



                <!--About Us Team Start-->
                <div
                    class="about-us-team-area section pt-65 pt-lg-45 pt-md-35 pt-sm-20 pt-xs-15 pb-70 pb-lg-50 pb-md-40 pb-sm-30 pb-xs-20">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="section-title text-center mb-40 mb-xs-20">
                                    <h2>A nossa equipa</h2>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-sm-6">
                                <!--Single Team Start-->
                                <div class="single-team mb-30">
                                    <div class="team-image img-full">
                                        <a href="#"><img src="/assets/images/team/team-1.jpg" alt=""></a>
                                    </div>
                                    <div class="team-content">
                                        <div class="team-hover-info">
                                            <h2><a href="#">Marcos Alonso</a></h2>
                                            <ul class="team-social">
                                                <!-- <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li> -->
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!--Single Team End-->
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <!--Single Team Start-->
                                <div class="single-team mb-30">
                                    <div class="team-image img-full">
                                        <a href="#"><img src="/assets/images/team/team-2.jpg" alt=""></a>
                                    </div>
                                    <div class="team-content">
                                        <div class="team-hover-info">
                                            <h2><a href="#">Isaac Newton</a></h2>
                                            <ul class="team-social">
                                                <!-- <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li> -->
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!--Single Team End-->
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <!--Single Team Start-->
                                <div class="single-team mb-30">
                                    <div class="team-image img-full">
                                        <a href="#"><img src="/assets/images/team/team-3.jpg" alt=""></a>
                                    </div>
                                    <div class="team-content">
                                        <div class="team-hover-info">
                                            <h2><a href="#">Charlotte Taylor</a></h2>
                                            <ul class="team-social">
                                                <!-- <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li> -->
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!--Single Team End-->
                            </div>
                        </div>
                    </div>
                </div>
                <!--About Us Team End-->



                <%- include('footer.ejs', {category}) %>



    </div>

    <!-- Placed js at the end of the document so the pages load faster -->

    <!-- All jquery file included here -->
    <script src="/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="/assets/js/vendor/bootstrap.min.js"></script>
    <script src="/assets/js/plugins/plugins.js"></script>
    <script src="/assets/js/main.js"></script>
    <script src="/assets/js/addToCart.js"></script>
</body>



</html>